.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  *{
    font-family: 'poppins', sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  header {
    background: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
  }
  .logo {
    text-decoration: none;
    color:#3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font: size 1.8em;
  }

  .navigation a{
    text-decoration: none;
    color:#3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px; 
  }

  .navigation a:hover {
    color: #601cfc;
  }
  
  section {
    padding: 100px 200px;
  }
  .main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
.main h2 {
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
  color:rgb(74, 123, 222);
  font-size: 3em;
  font-weight: 600;
}
.main h3{
  color: #f0f0f0;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn{
  color: #f0f0f0;
  background-color: rgb(74, 123, 222);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
}
.main-btn:hover{
  background-color: rgb(17, 70, 174);
  transform: scale(1.07) ;
  transition-duration: 300ms;
}
.social a{
  color: #f0f0f0;
  font-size: 1.7em;
  padding-right: 30px;
} 
.social a:hover{
  color: #5f6dc3;
 transition-duration: 300ms;
}
.title {
  display: flex;
  justify-content: center;
  color:rgb(74, 123, 222);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
}
.card:hover {
transform: scale(1.06);
transition-duration: 200ms;
}

.icon {
  color:rgb(74, 123, 222);
  font-size: 8em;
  text-align: center;
}
.info {
text-align: center;

}
.info h3 {
  color:rgb(74, 123, 222);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;

}